h1 {
  text-align: center;
}

#error_msg {
  color: red;
}

#form-input {
   display: flex;
}

#form-output {
  display: flex;
  margin-top: 2%;
}

#title {
}


#table-caption {
  caption-side:top;
  /* Add custom formatting to match other header padding */
  padding-top: 0;
  margin-bottom: .75rem;
}

.sub-header{
  font-size: 20px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.container {
  display:flex;
}

.input-form {
  text-align: center;
}

.title-label {
  font-weight: bold;
  margin-right: 1%;
}

.input-field {
  margin-right: 1%;
  width: 60%;
}
