h1 {
  text-align: center;
}

#error_msg {
  color: red;
}

#form-div {
}

#title {
}

#table-caption {
  caption-side:top;
  font-size: 20px;
  color: black;
  text-align: center;
}

.container {
  display:flex;
}

.input-form {
  text-align: center;
}
